<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body>
    <div th:replace="~{ comuns :: navbar}"></div>
    <div class="w3-panel w3-red">
      <h1>Ocorreu um ERRO!</h1>
      <h1 style="color: rgb(107, 7, 7)">
        <span th:text="${status}"></span> - <span th:text="${message}"></span>
      </h1>
      <h2>Entre em contato com a administração do sistema</h2>
      <a th:href="@{/}">Página inicial</a>
    </div>
  </body>
</html>
